.header{
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
}
#album{
  border: 10px dashed #ddd;
  min-height: 200px;
}
.picture{
  cursor: pointer;
}
.pic-alert,
.pic-show{
  display: flex;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}
.pic-alert img{
  height: 300px;
}

#full-pic img{
  max-height: 80%;
  max-width: 80%;
}

body{
  position: static;
}
